.cards {
    display:flex;
    padding-top:62px;
    gap:18px;
    justify-content: center;
  }

.section-card {
    width:30.5%;
}

.card-destin {
    display:flex;
    flex-direction:column;    
}

.card-destin:hover {
    transform: scale(1.05);
}


.card-info {
    box-shadow: 0px 0px 4px 0px #00000040;
    display:flex;
    flex-direction:column;
    gap:10px;
    width: 30.5vw;
    align-items: center;  
    border-radius: 0px 0px 10px 10px;
    padding: 16px 114px 11px 114px;
}

.destination-title {
    font-size:30px;
    width:20vw;
    text-align:center;
    color: var(--title-section-color);
    font-family: var(--second-f-font-family);
}

.destination-price {
    font-size: 21px;
    color: var(--sec-title-color);
    font-family: var(--main-f-font-family);
}

@media screen and (min-width: 375px) and (max-width: 430px) {
        .section-card {
            width: 68vw;
        }

        .card-info {
            width: 100%;
        }

        .card-destin:hover {
            transform: scale(1.1);
        }

        .cards {
            gap: 21px;
            padding: 0 2rem 93px 2rem;
            overflow-y: auto;
            justify-content: inherit;
        }

        .destination-title {
            font-size: 15px;
            width: 40vw;
        }

        .destination-price {
            font-size: 12px;
        }

        .card-info img{
            width: 20vw;
        }

}

@media screen and (min-width: 431px) and (max-width: 550px) {
    .section-card {
        width: 65vw;
    }

    .card-info {
        width: 100%;
    }

    .card-destin:hover {
        transform: scale(1.1);
    }

    .cards {
        gap: 21px;
        padding: 0 2rem 93px 2rem;
        overflow-y: auto;
        justify-content: inherit;
    }

    .destination-title {
        font-size: 18px;
        width: 40vw;
    }

    .destination-price {
        font-size: 15px;
    }

    .card-info img{
        width: 25vw;
    }


}

@media screen and (min-width: 551px) and (max-width: 800px) {
    .section-card {
        width: 48vw;
    }

    .card-info {
        width: 100%;
    }

    .cards {
        gap: 21px;
        padding: 0 2rem 93px 4.5rem;
        overflow-y: auto;
        justify-content: initial;
    }

    .destination-title {
        font-size: 18px;
        width: 40vw;
    }

    .destination-price {
        font-size: 15px;
    }

    .card-info img{
        width: 18vw;
    }

}

@media screen and (min-width: 801px) and (max-width: 1024px) {
        .cards {
            padding: 0 2rem 100px 2rem;
            gap:15px;
            overflow-y: auto;
            justify-content: inherit;
        }

        .section-card {
            width: 40vw;
        }

        .card-info {
            width: 100%;
        }

        .destination-title {
            font-size: 23px;
            width: 40vw;
        }

        .destination-price {
            font-size: 17px;
        }


}

@media screen and (min-width: 1025px) and (max-width: 1439px) {
    .cards {
        padding: 0 1rem 100px 1rem;
        gap:15px;
        justify-content: center;
    }

    .section-card {
        width: 31vw;
    }

    .card-info {
        width: 100%;
    }

    .destination-title {
        font-size: 23px;
        width: 40vw;
    }

    .destination-price {
        font-size: 17px;
    }


}
