#main-title-travel {
    font-size: 52px;
    font-weight:400;
    color: black;
}

#main-descript-travel {
    padding-bottom:0;
    width:90%;
}

#section-aside-travel {
    padding: 0 0 0 78px ;
    gap:12px;
}

#section-data {
    display:flex;
    gap: 79px;
    padding-bottom: 26px;
}

.num-data {
    font-size: 44px;
}

.data-value {
    font-family: var(--main-f-font-family);
    font-weight: 700;
    width:min-content;
}

#button-explore {
    background: #0F214F;
    color: white;
    font-weight: normal;
    font-size:18px;
    padding: 11px 25px;
    width: max-content;
    height:47px;
    box-shadow: none;

}

#section-explore {
    padding-bottom: 105px;
}

@media screen and (min-width: 375px) and (max-width: 430px) {
    #section-explore {
        flex-direction: column;
        padding: 100px;
    }

    #main-title-travel {
        font-size: 30px;
        line-height: 30px;
    }

    #section-data {
        display:none;
    }

    #section-aside-travel {
        padding:50px 0 0 0 ;
        width:85vw;   

    }

    #main-title-travel,
    #main-descript-travel {
        width:100%;
    }

    #main-descript-travel {
        padding-bottom:20px;
    }

    #button-explore {
        font-size:12px;
        padding:1px 17px;
        height: 6vh;
    }

}

@media screen and (min-width: 431px) and (max-width: 550px) {
    #section-explore {
        flex-direction: column;
        padding: 100px;
    }

    #main-title-travel {
        font-size: 2.3rem;
        line-height: 50px
    }

    #section-data {
        display:none;
    }

    #section-aside-travel {
        padding:30px 0 0 25px ;
        width:95vw;   

    }

}

@media screen and (min-width: 551px) and (max-width: 800px) {

    #section-explore {
        flex-direction: column;
        padding: 80px 0 100px 0; 
    }

    .num-data {
        font-size: 35px;
    }

    .data-value {
        font-size: 12px;
        text-align:center;
    }

    #section-aside-travel {
        padding:0;
        padding-top: 30px;
    }

    #main-descript-travel {
        width: 70%;
        padding-top: 10px;
        text-align:justify;
        
    }

    #main-title-travel {
        font-size:2.7rem;
        
    }

    #button-explore {
        width: 40vw;
        font-size: 120%;
    }


}

@media screen and (min-width: 801px) and (max-width: 1439px) {
    #main-title-travel {
        font-size: 3.1rem;
        line-height: 3.2rem;
    }

    #section-aside-travel {
        width: 70%;
        padding: 0 0 0 30px;
        gap: 20px;
    }

    #main-descript-travel {
        width:80%;
    }
    #section-data {
        gap:30px;
        font-size: 14px;
        padding-bottom: 10px;
    }

    .num-data {
        font-size: 35px;
    }

    #section-explore {
        padding-left: 25px;
    }

}